.section {
	padding-top: 60px;
	padding-bottom: 60px;

	&__title {
		@include font(28, 1.18, 700, 0.03em);
		margin-bottom: 30px;
		text-align: center;
		color: $header-color;

		@include desktop {
			@include font(36, 1.17, null, null);
			margin-bottom: 50px;
		}
	}

	@include desktop {
		padding-top: 94px;
		padding-bottom: 94px;
	}
}
