.socials {
	@include position(flex, null, center);
	gap: 10px;

	&__link {
		width: 44px;
		height: 44px;
		border-radius: 50%;
		@include position(flex, center, center);
		fill: #afb1b8;

		transition: background-color 250ms var(--cubic), fill 250ms var(--cubic);

		&:hover,
		&:focus {
			background-color: var(--accent-color);
		}
		&--footer {
			fill: #ffffff;
			background: rgba(255, 255, 255, 0.1);
		}

		&--team:hover,
		&--team:focus {
			fill: var(--white-color);
		}
	}

	&--team {
		padding-bottom: 30px;
	}
}
