.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  overflow-y: scroll;

  transition: opacity 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67),
    visibility 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 30px);
  height: auto;
  padding: 40px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);

  @include tablet {
    width: 450px;
  }

  @include desktop {
    width: 528px;
  }

  &__header {
    @include font(20, 1.5, 700, 0.03em);
    margin-bottom: 12px;
    text-align: center;
    color: $header-color;

    @include desktop {
      line-height: 1.15;
    }
  }

  &__form {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

    @include desktop {
      width: 448px;
    }
  }

  &__item {
    position: relative;
    margin-bottom: 10px;
  }

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.9);
  }
}

.modal__input:focus-visible,
.comments:focus-visible {
  outline: none;
}

.modal__input {
  margin: 0;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding-left: 42px;

  transition: border-color 250ms var(--cubic), fill 250ms var(--cubic);

  &:focus {
    border-color: var(--accent-color);
  }
}

.modal__label,
.comments__label {
  @include font(12, 1.17, null, 0.01em);
  color: #757575;
  margin-bottom: 4px;
}

.modal__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 11px;
  left: 12px;

  .modal__input:focus ~ & {
    fill: var(--accent-color);
  }
}

textarea {
  resize: none;
  padding: 12px 16px;
  width: 100%;
  max-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  &:focus {
    border-color: var(--accent-color);
  }

  &::placeholder {
    @include font(12, 1.17, null, 0.01em);
    color: rgba(117, 117, 117, 0.5);
  }
}

.comments__field {
  margin-bottom: 20px;
}

.checkbox__label {
  @include position(flex, center, center);
  @include font(12, 1.17, null, 0.03em);
  color: #757575;

  & span {
    @include position(flex, center, center);
    margin-right: 8px;
    width: 16px;
    height: 15px;
    border: 2px solid #000000;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);

    transition: border-color 250ms var(--cubic),
      background-color 250ms var(--cubic), box-shadow 250ms var(--cubic);
    &:hover {
      border-color: var(--accent-color);
    }

    .checkbox:checked + & {
      border: none;
      background-color: var(--accent-color);
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    }
  }

  @include desktop {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox__icon {
  fill: transparent;
  &:hover {
    fill: var(--accent-color);
    border-color: var(--accent-color);
  }

  .checkbox:checked + .checkbox__label & {
    fill: var(--white-color);
  }
}

.checkbox__link {
  @include font(12, 1.17, null, 0.03em);
  text-decoration-line: underline;
  color: var(--accent-color);

  @include desktop {
    font-size: 14px;
    line-height: 1.71;
  }
}
